<a href="https://colab.research.google.com/github/AkashCreator/mydata/blob/main/pyspark_revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285398 sha256=83dbeb06b05ea5aed9ccc174326dd586ef9b0d94e74eaecd15820a3b1dcb4e4c
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [6]:
from pyspark.sql import SparkSession

In [9]:
spark=SparkSession.builder.appName('myapp').getOrCreate()

In [10]:
spark

In [14]:
spark_data=spark.read.csv('./sample_data/cars.csv',sep=';',header=True,inferSchema=True)

In [15]:
spark_data.show()

+--------------------+------+---------+------------+----------+------+------------+-----+------+
|                 Car|   MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+------+---------+------------+----------+------+------------+-----+------+
|              STRING|DOUBLE|      INT|      DOUBLE|    DOUBLE|DOUBLE|      DOUBLE|  INT|   CAT|
|Chevrolet Chevell...|  18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|  15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|  18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|  16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
|         Ford Torino|  17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|
|    Ford Galaxie 500|  15.0|        8|       429.0|     198.0| 4341.|        10.0|   70|    US|
|    Chevrolet Impala|  14.0|        8|       454.0|     220.0| 4354.|         9.0|   70|    US|
|   Plymouth Fury iii|  14.0|        8|       440.0|     215.0| 4312.|         8.5|   70|    US|
|    Pontiac Catalina|  14.0|        8|       455.0|     225.0| 4425.|        10.0|   70|    US|
|  AMC Ambassador DPL|  15.0|        8|       390.0|     190.0| 3850.|         8.5|   70|    US|
|Citroen DS-21 Pallas|     0|        4|       133.0|     115.0| 3090.|        17.5|   70|Europe|
|Chevrolet Chevell...|     0|        8|       350.0|     165.0| 4142.|        11.5|   70|    US|
|    Ford Torino (sw)|     0|        8|       351.0|     153.0| 4034.|        11.0|   70|    US|
|Plymouth Satellit...|     0|        8|       383.0|     175.0| 4166.|        10.5|   70|    US|
|  AMC Rebel SST (sw)|     0|        8|       360.0|     175.0| 3850.|        11.0|   70|    US|
| Dodge Challenger SE|  15.0|        8|       383.0|     170.0| 3563.|        10.0|   70|    US|
|  Plymouth 'Cuda 340|  14.0|        8|       340.0|     160.0| 3609.|         8.0|   70|    US|
|Ford Mustang Boss...|     0|        8|       302.0|     140.0| 3353.|         8.0|   70|    US|
|Chevrolet Monte C...|  15.0|        8|       400.0|     150.0| 3761.|         9.5|   70|    US|
+--------------------+------+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

In [28]:
df_spark1=spark_data.groupBy(['Origin','Model']).count().orderBy('Origin',ascending=True)

In [43]:
spark_data1=df_spark1.filter(~(df_spark1.Origin == 'CAT'))

In [51]:
spark_data1.withColumnsRenamed({'count':'Counting'}).orderBy('Counting',ascending=False).show()

+------+-----+--------+
|Origin|Model|Counting|
+------+-----+--------+
|    US|   73|      29|
|    US|   70|      27|
|    US|   79|      23|
|    US|   76|      22|
|    US|   78|      22|
|    US|   75|      20|
|    US|   82|      20|
|    US|   71|      20|
|    US|   72|      18|
|    US|   77|      18|
|    US|   74|      15|
|    US|   81|      13|
| Japan|   80|      13|
| Japan|   81|      12|
|Europe|   80|       9|
| Japan|   82|       9|
|Europe|   76|       8|
| Japan|   78|       8|
|    US|   80|       7|
|Europe|   73|       7|
+------+-----+--------+
only showing top 20 rows